#owl-demo .item img{
    text-align: center;
    width: 650px;
    height: 500px;
}

#owl-demo2 .item img{
    text-align: center;
    width: 650px;
    height: 500px;
}

#owl-demo3 .item img{
    text-align: center;
    width: 650px;
    height: 500px;
}