body {background-color: black}



.header {
  width:500px;
  height:40px;
  background-color:black;
  position: relative;
  left:0px;
  top:0px;

}

.navbar {
  width:500px;
  height:20px;
  background-color:black;
  position: relative;
  left:0px;
  top:20px;
  text-align: left;
}

.navbar div {display: inline-block; font-size: 18px; height: 14px; width: auto; padding: 5px; }

a {text-decoration: none; color: grey}



.footer {
  width:300px;
  height:auto;
  background-color:black;
  position: relative;
  left:400px;
  bottom:0px;
}

.footer div {display: inline-block; width: auto; padding: 5px; text-align: right }

